body {
      background-image: url("F1/background.jpg"); /* путь к изображению */
      background-size: cover;     /* изображен заполняет весь экран */
      background-repeat: no-repeat; /* не повторять фон */
      background-position: center;  /* центрировать изображение */
      margin: 0;                  /* убрать отступы по умолчанию */
    }
	h1 {
      color: white;
	font-size : 32pt;  
      text-align: center;
    }
	.Профессор {
	margin-left: 80px;
	width: 200px;           /* Ширина контейнера */
  height: 200px;          /* Высота контейнера */
  overflow: hidden;        /* Скрывает «лишние» части изображения */
	border: 2px solid #ddd; /* Рамка вокруг контейнера */
	border-radius: 15px;     /* Скругление углов */
	}
	.Универ {color: white;
	font-size : 20pt;
	margin-top: -200px;
	margin-left: 350px;}
	.text-with-border {
  
  border: 2px solid #ff5733;    /* Толщина, тип и цвет рамки */
  padding: 15px;               /* Внутренние отступы */
  background-color: transparent;  /* Цвет фона внутри рамки */
  border-radius: 8px;          /* Скругление углов */
  margin-right:470px           /* Внешний отступ от края экрана справа*/
}
.СибУПК {color: white;
	font-size : 20pt;
	margin-top: -10px;
	margin-left: 350px;}
.text-with-border {
  
  border: 2px solid #ff5733;    /* Толщина, тип и цвет рамки */
  padding: 15px;               /* Внутренние отступы */
  background-color: transparent;  /* Цвет фона внутри рамки */
  border-radius: 8px;          /* Скругление углов */
  margin-right:470px           /* Внешний отступ от края экрана справа*/}
  .my-resume {
	color: white;
	font-size : 20pt;
	margin-top: -10px;
	margin-left: 350px;}
.text-with-border {
  
  border: 2px solid #ff5733;    /* Толщина, тип и цвет рамки */
  padding: 15px;               /* Внутренние отступы */
  background-color: transparent;  /* Цвет фона внутри рамки */
  border-radius: 8px;          /* Скругление углов */
  margin-right:470px           /* Внешний отступ от края экрана справа*/
}
.btn-read-more {
	display: inline-block;
  padding: 8px 16px;
  background-color: #1e88e5; /* Синий цвет материала */
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
margin-left: 10px;}

.btn-read-more:hover {
  background-color: #0d47a1; /* Тёмно-синий при наведении */
  transform: scale(1.05); /* Лёгкое увеличение */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
}

